.base {
    width: 75%;
    position: absolute;
    right: 0px;
    padding: 50px;

}

#legend {
    position: absolute;
    top: 550px;
}

div.bar {
    display: inline-block;
    width: 20px;
    height: 75px;	/* Gets overridden by D3-assigned height below */
    margin-right: 2px;
    background-color: teal;
}